.ramen-time {
    max-width: 45%;
    margin-bottom: 15px
}
.ramen-btn {
    margin: 45px auto 0;
}
.panel-body {
    padding: 0 15px;
}
.ramen {
    padding: 15px;
    border-top: 2px solid #ccc;
}
.ramen:nth-child(last) {
    border-bottom: none;
}
.ramen-name {
    font-weight: bold;
    font-size: 22px;
}
